.body { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* aligns on x axis */
    align-items: center; 
    /* aligns on y axis */
    justify-content: center;
    background-color: #ffe3e8;
    }; 
